    <div class="container">
                <h2>Rooms</h2>
                <div class="table-responsive">
                <table class="table table-bordered table-striped table-background opacity">
                  <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th class="text-center"></th>
                  </tr>

                  <% @rooms.each do |room| %>
                    <tr>
                      <td><%= room.title %></td>
                      <td><%= room.text %></td>
                      <td class="text-center"> <%= link_to "", room_path(room), class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-search" %>
                      <%= link_to "", room_path(room) , method: :delete, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-remove" %></td>
                    </tr>
                  <% end %>
                </table>
                </div>
                <%= link_to "", new_room_url, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-plus" %></br>
      </div>
