<h2>Show room</h2>
<% provide :title, "Draw | Room: " + @picture_id %>
<h1>Draw Here!</h1>
<p>
<b>Room: <%= @picture_id %></b><br/>
Draw below for all to see.
</p>
<canvas id="easel" width="640" height="480">Your browser does not support canvas</canvas>

<br/>

<button onclick="App.draw.clear('<%= escape_javascript( @picture_id ) %>')">Clear</button>
<div class="container">
  <table class="table table-bordered table-striped">
     <tr>
       <td>
         <small>Title</small>
       </td>
     </tr>
     <tr>
       <td>
         <%= @room.title %>
       </td>
     </tr>

     <tr>
       <td>
         <small>Text</small>
       </td>
     </tr>
     <tr>
       <td>
         <%= @room.text %>
       </td>
     </tr>
   </table>

   <div id="messages" data-room-id="<%= @room.id %>">
     <%= render @room.messages %>
   </div>

    <%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>

   <div class="form-group">
       <%= link_to "", rooms_path, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-arrow-left" %>
   </div>
</div>
