<div class="container">
  <h2>Show room</h2>
  <% provide :title, "Draw | Room: " + @picture_id %>
  <p>
  <b>Room: <%= @picture_id %></b><br/>
  Draw below for all to see.
  </p>
  <canvas id="easel" width="640" height="480">Your browser does not support canvas</canvas>

  <br/>
<% if user_signed_in? %>
  <button onclick="App.draw.clear('<%= escape_javascript( @picture_id ) %>')">Clear</button>
  <% end %>
</br>
</br>
   <div id="messages" data-room-id="<%= @room.id %>">
     <%= render @room.messages %>
   </div>

<% if user_signed_in? %>
    <%= form_for @message, url: '#' do |f| %>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>
<% end %>
</br>
   <div class="form-group">
       <%= link_to "", rooms_path, class: "btn btn-default btn-circle btn-outline glyphicon glyphicon-arrow-left" %>
   </div>
</div>
